version: '3'
services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:5000/api
    depends_on:
      - server

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - REAL_DEBRID_API_KEY=${REAL_DEBRID_API_KEY}
      - STREMTHRU_BASE_URL=${STREMTHRU_BASE_URL}
      - STREMTHRU_TOKEN=${STREMTHRU_TOKEN}
      - ACCESS_PASSWORD=${ACCESS_PASSWORD}
      - ACCESS_TOKEN=${ACCESS_TOKEN}